<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>SignUp</h1>
          <h6>Register Yourself</h6>
        </div>
        <form class="" [formGroup]="signupForm">
          <div class="form-group">
            <label for="firstname">First Name:</label
            ><input
              formControlName="firstName"
              type="text"
              class="form-control"
              name="firstname"
            />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name:</label
            ><input
              formControlName="lastName"
              type="text"
              class="form-control"
              name="lastname"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              (blur)="onEmailBlur()"
            />
            <div id="emailHelp" class="muted-text">
              We'll never share your email with anyone else.
            </div>
            <span class="text-danger" *ngIf="signupForm.hasError('required','email')">*Email ID is
              Required</span>
          <span class="text-danger"
              *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('pattern','email')">not a
              valid email</span>

          </div>
          <div class="form-group">
            <label for="phone">Phone</label
            ><input appInputnumber
              formControlName="phone"
              type="text"
              name="phone"
              class="form-control"
            />
            <span class="text-danger" *ngIf="signupForm.hasError('required','phone')">*phone number is
              Required</span> <br>
          <span class="text-danger"
              *ngIf="signupForm.controls['phone'].dirty && signupForm.get('phone')?.errors">should be at
              least 10 digits</span>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label
            ><input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              name="confirm_password"
            />
          </div>
          <button (click)="onSignUpButtonClick()" class="btn btn-primary" [disabled]="!signupForm.valid">SignUP</button>
        </form>
      </div>
    </div>
  </div>
</div>
