<nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
        <h1> CRUD</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" class="btn btn-success" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add
                user</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">age</th>
            <th scope="col">dob</th>
            <th scope="col">Country</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstname}}</td>
            <td>{{row.lastname}}</td>
            <td>{{row.email}}</td>
            <td>{{row.phone}}</td>
            <td  appDobFormatter    >{{row.date_of_birth}}</td>
            <td>{{row.age}}</td>
            <td>{{row.country}}</td>
            <td>{{row.state}}</td>
            <td>{{row.city}}</td>
            <td><button (click)="onEdit(row)" class="btn btn-warning" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Edit</button>
                <button class="btn btn-danger" (click)="deleteEmployee(row)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="FirstName" aria-describedby="emailHelp"
                            formControlName="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="LastName" formControlName="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email" formControlName="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
                        <span class="text-danger" *ngIf="formValue.hasError('required','email')">*Email ID is
                            Required</span>
                        <span class="text-danger"
                            *ngIf="formValue.controls['email'].dirty && formValue.hasError('pattern','email')">not a
                            valid email</span>


                    </div>
                    <div class="mb-3">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="text" appInputnumber class="form-control" id="Phone" formControlName="phone">
                        <span class="text-danger" *ngIf="formValue.hasError('required','phone')">*phone number is
                            Required</span> <br>
                        <span class="text-danger"
                            *ngIf="formValue.controls['phone'].dirty && formValue.get('phone')?.errors">should be at
                            least 10 digits</span>


                    </div>
                    <div class="mb-3">
                        <label for="Date_of_birth" class = "form-label">Date OF Birth:</label>
                        <input type="date" formControlName="date_of_birth" class="form-control" id="Date_of_birth" (change)="onDOBChange()">
                    </div>
                    <div class="mb-3">
                        <label for="Age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="Age" formControlName="age" appAgeValidation>
                        <span class="text-danger"
                            *ngIf="formValue.controls['age'].dirty && formValue.hasError('wrongAge')">cant be less than 10 and more than 120
                            </span>


                    </div>
                    <div class="mb-3">
                        <label for="countries" class="form-label">Choose a Country:</label>
                        <select id="countries" name="countries" formControlName="countryname" (change)="onCountryChange($event)"  class="form-control">
                            <option *ngFor=" let country of countries" [ngValue]="country"  >{{country.name}}</option>
                        </select><br>
                    </div>
                    <div class="mb-3">
                        <label for="states" class="form-label" >Choose a State:</label>
                        <select id="states" [disabled]="true"  name="states" formControlName="statename" (change)="onStateChange($event)"  class="form-control">
                            <option *ngFor=" let state of states" [ngValue]="state"  >{{state.name}}</option>
                        </select><br>
                    </div>
                    <div class="mb-3">
                        <label for="cities" class="form-label">Choose a City:</label>
                        <select id="cities" name="cities" formControlName="cityname"   class="form-control">
                            <option *ngFor=" let city of cities" [ngValue]="city"  >{{city.name}}</option>
                        </select><br>
                    </div>


                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
                <!-- <form action="#">
                    <input type="text" [(ngModel)]="testInput" name="testinput">
                </form> -->

            </div>
            <div class="modal-footer">
                <button type="button" id="closebutton" class="btn btn-secondary" (click)="resetOnClose()"  data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" class="btn btn-primary" [disabled]="!formValue.valid"
                    (click)="postEmployeeDetail()">Add</button>
                <button type="button" *ngIf="showUpdate" class="btn btn-primary"
                    (click)="onUpdateEmployee()">update</button>
            </div>
        </div>
    </div>
</div>